<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Kezdőlap</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  	<style>
  	table{
  	height:100vh;
  	width:100%;
  	table-layout: fixed;
  	}
  	body{
  		  	background-color: grey;
  	}
    .fieldError {
            background-color: red;
    }
  	</style>
</head>
<body>

<h2>Kinek szeretne üzenni?</h2>
<form action="/addmessage" method="post" th:object="${addmessagedto}">
	<select  th:field="*{toid}">
		<option th:each="user : ${users}"
                            th:value="${user.id}"
                            th:utext="${user.name}"/> 
	</select>
	<input type="hidden" name="fromid" th:value="1">
    <input type="hidden" id="date" name="date" value="">
    <input type="text" th:field="*{text}" th:class="${#fields.hasErrors('text')} ? fieldError"/>
    <ul>
        <li th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></li>
        
    </ul>
    <input type="submit" value="OK">
</form>
</body>
</html>