<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Kezdőlap</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  	<style>
  	table{
  	width:100%;
  	table-layout: fixed;
  	}
  	body{
  		  	background-color: grey;
  	}
  	</style>
</head>
<body>

	<table class="table">
		<thead>
    			<tr>
      				<th scope="col">#</th>
			     	<th scope="col">Üzenet szövege</th>
			     	<th scope="col">Keltezés</th>
    			</tr>
		</thead>
		<tbody>
			<tr th:each="message: ${messages}">
				<th scope="row" th:text="${message.id}"></th>
				<td th:text="${message.text}"></td>
				<td th:text="${message.date}"></td>
		</tbody>
	</table>


</body>
</html>